.THIS .preview-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.THIS .preview-card {
    display: inline-block;
    width: 260px;
    height: 240px;
    margin-right: 20px;
    background: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    padding: 10px;
    cursor: pointer;
}

.THIS .preview-image {
    width: 100%;
    height: 170px;
    object-fit: contain;
    border-radius: 8px;
}

.THIS .pdf-container {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS .pdf-icon {
    width: 85px;
    height: 85px;
}

.THIS .file-label {
    margin-top: 7px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}